*{
margin:0;
padding:0;
box-sizing:border-box;
 }
 
 
 body{
 background:#eee;
 font-family:cursive; 
  }
   

 .container{
 width:96%;
 margin:20px auto;
 display:inline;
  }
  h1{
  font-family:Tahoma,Geneva,sans-serif;
  text-transform:uppercase;
  border-left:5 px sloid #1abc9c;
  margin:10px;
  
   }
  
  .book{
  width:60%;
  float:left;
  background:#e1c3c3
  margin:100px;
  padding:10px;
  
   }
  .icon{
  
  width:30%;
  float:left;
  line-height:150px;
  }                 
  button{
  background:#1abc9c;
  border-radius:7px;
  padding:6px 6px;
  color:#fff;
  float:right;
   cursor:pointer;
   }